.overlay {
  position: fixed;
  z-index: 999;
  height: 100vh;

  &.opened {
    .drawer {
      right: 0;

      .close-btn {
        display: flex;
      }
    }
  }

  .drawer {
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 16px;
    width: 85%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    right: -100vw;
    transform: perspective(1200px);
    z-index: 10;
    transition: all 0.8s ease-in-out;

    .content {
      max-width: 1440px;
      width: 100%;
      border-left-width: 1px;
      background-color: white;
    }

    .close-btn {
      margin-top: 16px;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: 36px;
      width: 36px;
      border-radius: 100%;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      transition: all 0.35s ease-in-out;

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 888;
}
