<div (click)="onClick()" class="home-card">
  <div class="like">
    <ion-icon name="heart-outline"></ion-icon>
  </div>
  <img src="assets/images/penthouse.webp" alt="home Image">
  <div class="info">
    <div class="title">
      <h1>Whitefish Estate</h1>
      <h5>Whitefish, Montana, United States</h5>
    </div>
    <div class="price">
      <span class="font-extralight"><span class="font-semibold">$10,000 </span>/ night</span>
      <span><ion-icon name="star" class="mr-2"></ion-icon> 5.0</span>
    </div>
  </div>

</div>
